# The difference between binary classification and multi-classification
The name itself signifies the key differences between binary and multi-classification. Below examples will give you the clear understanding about these two kinds of classification. Let’s first look at the binary classification problem example. Later we will look at the multi-classification problems.

### Binary Classification:
Given the subject and the email text predicting, Email Spam or not.
Sunny or rainy day prediction, using the weather information.
Based on the bank customer history, Predicting whether to give the loan or not.
### Multi-Classification:
Given the dimensional information of the object, Identifying the shape of the object.
Identifying the different kinds of vehicles.
Based on the color intensities, Predicting the color type.

## Introduction to Multinomial Logistic regression
Multinomial logistic regression is the generalization of logistic regression algorithm. If the logistic regression algorithm used for the multi-classification task, then the same logistic regression algorithm called as the multinomial logistic regression.

The difference in the normal logistic regression algorithm and the multinomial logistic regression in not only about using for different tasks like binary classification or multi-classification task. In much deeper It’s all about using the different functions.

In the logistic regression, the black function which takes the input features and calculates the probabilities of the possible two outcomes is the Sigmoid Function. Later the high probabilities target class is the final predicted class from the logistic regression classifier.

When it comes to the multinomial logistic regression the function is the Softmax Function. I am not going to much details about the properties of sigmoid and softmax functions and how the multinomial logistic regression algorithms work. As we are already discussed these topics in details in our earlier articles.

# Example

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Populating the interactive namespace from numpy and matplotlib

In [2]:
data = pd.read_csv('glass.data.csv')

Attribute Information:
1. Id number: 1 to 214
2. RI: refractive index
3. Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
4. Mg: Magnesium
5. Al: Aluminum
6. Si: Silicon
7. K: Potassium
8. Ca: Calcium
9. Ba: Barium
10. Fe: Iron
11. Type of glass: (class attribute)

In [3]:
data.shape

(213, 11)

In [4]:
data.head(5)

   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0  2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0.0    0.00    1
1  3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0.0    0.00    1
2  4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0.0    0.00    1
3  5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0.0    0.00    1
4  6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0.0    0.26    1

In [5]:
data.columns = ['id','ri','na','mg','al','si','k','ca','ba','fe','class']

In [6]:
data

      id       ri     na    mg    al     si     k    ca    ba    fe  class
0      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00      1
1      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00      1
2      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00      1
3      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00      1
4      6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26      1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...   ...    ...
208  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00      7
209  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00      7
210  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00      7
211  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00      7
212  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00      7

[213 rows x 11 columns]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x = data.iloc[:,1:-1].values

In [9]:
y = data['class']

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler = StandardScaler()

In [12]:
scaler.fit(x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [13]:
x = scaler.transform(x)

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
clf = RandomForestClassifier(n_estimators=3)

In [17]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=3,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
y_pred = clf.predict(x_test)

In [20]:
accuracy_score(y_test,y_pred)

0.6875

In [21]:
arr = []
for i in range(1,30):
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(x_train,y_train)
    y_pred = clf.predict(x_test)
    arr.append(accuracy_score(y_test,y_pred))
# j=1
# for i in arr:
#     print(j,i)
#     j+=1
for i,j in enumerate(arr):
    print(i+1,j*100)

1 64.0625
2 59.375
3 68.75
4 59.375
5 64.0625
6 67.1875
7 70.3125
8 70.3125
9 67.1875
10 68.75
11 65.625
12 68.75
13 70.3125
14 70.3125
15 73.4375
16 68.75
17 71.875
18 75.0
19 73.4375
20 67.1875
21 70.3125
22 70.3125
23 67.1875
24 71.875
25 67.1875
26 75.0
27 67.1875
28 70.3125
29 75.0

# Therefore the least number of estimators that can gives highest accuracy from this dataset is 13

In [22]:
np.argmax(arr) +1

18

Source:https://github.com/iamsaket7/GlassIdentificationDataset